<div class="top-header">
  <header class="page-width">
    <div>
      <div class="wcag3">WCAG 3.0</div>
      <div class="title">Text Alternatives Methods & How To's</div>
    </div>

    <div class="branding">
      <div class="w3c">W3C</div>
      <div class="wai">
        Web Accessibility <hr role="none">
        Initiative WAI
      </div>
    </div>
  </header>

  <nav class="page-width nav-list" aria-label="WCAG 3 How-to Navigation">
    <ul>
      <li>{% include link.html href="/wcag3-docs-wireframes/" text="Get Started" %}</li>
      <li>{% include link.html href="/wcag3-docs-wireframes/user-needs" text="User Needs" %}</li>
      <li>{% include link.html href="/wcag3-docs-wireframes/activities/plan" text="Activities" %}</li>
      <li>{% include link.html href="/wcag3-docs-wireframes/examples" text="Examples" %}</li>
      <li>{% include link.html href="/wcag3-docs-wireframes/resources" text="Resources" %}</li>
      <li>{% include link.html href="/wcag3-docs-wireframes/methods" text="Methods" %}</li>
    </ul>
  </nav>
</div>
