@import 'top-header.css';
@import 'sub-header.css';

body {
  margin: 0;
  background: #eee;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.page-width, main, footer {
  max-width: 60em;
  margin: 0 auto;
}

.nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-list li {
  display: inline-block;
}

.nav-list a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 1em 0;
  margin: 0 1em;
}
.nav-list .current {
  border-bottom: solid 3px currentColor;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: #036;
}

main li {
  margin-bottom: .5em;
}
main p {
  line-height: 1.5em;
}

.card {
  background: #CCC;
  padding: 1em;
  margin: 2em;
}

.card a {
  float: right;
  margin: -3em 2em 0 0;
  text-decoration: none;
  background: #111;
  color: #EEE;
  padding: .5em 2em;
}

.method-card {
  background: #ccc;
  width: 30em;
  margin: 2em auto;
  padding: 1.5em 5em;
}
.method-card dt, .method-card dd {
  display: inline-block;
  margin: 0;
}

.method-card dt {
  font-size: 1.5em;
  padding: .5em;
}