.top-header {
  background: var(--w3c-classic);
  color: #eee
}

.top-header header.page-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 0;
}

.top-header .branding {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
.top-header .wcag3 {
  margin: 0 0 .2em;
  font-size: 1.2em;
}
.top-header .title {
  font-size: 1.8em;
}

.top-header nav {
  background-color: var(--w3c-blue);
}