.sub-header {
  background: #DDD;
  padding: 1.3em 0;
}

.sub-header .breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-header .breadcrumb li {
  display: inline-block;
}

.sub-header .breadcrumb li:not(:first-child):before {
  content: " / "
}

.sub-header .subtitle {
  font-size: 2.5em;
  text-align: center;
  margin: 1.3em 0 .5em;
}

.sub-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}